name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true
      GH_PACKAGES_TOKEN:
        required: true

      GPG_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true

      SONATYPE_USERNAME:
        required: true
      SONATYPE_PASSWORD:
        required: true

      GRADLE_PUBLISH_KEY:
        required: true
      GRADLE_PUBLISH_SECRET:
        required: true

permissions:
  contents: write
  packages: write

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GITHUB_OWNER: ${{ github.repository_owner }}
      GITHUB_REPO: ${{ github.event.repository.name }}
      GITHUB_DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}

      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      GITHUB_PACKAGES_TOKEN: ${{ secrets.GH_PACKAGES_TOKEN }}

      GPG_KEY: ${{ secrets.GPG_KEY }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}

      GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ env.GITHUB_DEFAULT_BRANCH }}
          fetch-depth: 1

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 24

      - run: ./gradlew clean releaseProjekt --stacktrace
